<!DOCTYPE html>
{% load static %}

<html lang="pt">
<head>
    <!--Importações-->
    {% include "importacoes.html" %}
    <link rel="stylesheet" href="{% static 'css/add_noticia.css' %}">
    <!--Fim importações-->
    <meta charset="UTF-8">

    <title>AEMTKD | {{perfil.nome|capfirst}}</title>
</head>
<body>
        <div class="row hide-on-med-and-down" id="menu_top_bar">
            <div class="col l2 xl3"></div>

            {% if perfil %}

                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="{% url 'logout' %}" class="black-text">Sair</a></li>
                </ul>
                <nav class="black">
                    <div class="nav-wrapper black container">
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'home' %}">Página inicial</a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">{{perfil.nome|capfirst}}<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </nav>
            {% endif %}
        </div>

        <div class="container row" style="border-bottom: 1px solid #000;">
            <a href="#!" id="title_add_new" class="breadcrumb black-text">{{funcao}}</a>

        </div>

        {% if error %}
            <p class="center-align">Esse título já existe!</p>
        {% else %}
            <p class="center-align"></p>
        {% endif %}

        <div id="div_formulario" class="row">
            <form class="container" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {% if evento %}

                    <div class="input-field col l6 xl6 no-padding">
                        <input id="titulo" type="text" name="titulo" class="validate" value="{{evento.titulo}}" required autofocus>
                        <label for="titulo" max-length="100">Titulo</label>
                    </div>


                    <div class="file-field input-field col l6 xl6">
                        <div class="btn black">
                            <i class="material-icons right">file_upload</i>
                            <span>Enviar capa</span>
                            <input type="file" name="image" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <textarea id="textarea1" data-length="2000" name="descricao" class="materialize-textarea" required>{{evento.descricao}}</textarea>
                            <label for="textarea1">Descrição do evento</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <input id="date_evento" type="date" name="date" value="{{evento.get_data}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <input id="hour" type="time" name="hour" value="{{evento.get_hora}}">
                        </div>
                    </div>

                    <div class="input-field col l12 xl12 no-padding">
                        <input id="final" type="text" name="local" class="validate" value="{{evento.local}}">
                        <label for="final" max-length="100">Local</label>
                    </div>

                    <div class="input-field col l12 xl12 no-padding">
                        <input type="number" id="valor" step="0.1" name="value" value="{{evento.valor}}">
                        <label for="valor">Valor</label>
                    </div>

                    <button class="btn waves-effect waves-light green darken-4 right" onclick="Materialize.toast('Salvo!', 4000)" type="submit" name="action">Salvar
                        <i class="material-icons right">send</i>

                    </button>
                    <a class="waves-effect waves-light btn right red darken-4" style="margin-right: 1%;" href="{% url 'eventos' %}"><i class="material-icons left">cancel</i>Cancelar</a>

                {% else %}

                    <div class="input-field col l6 xl6 no-padding">
                        <input id="titulo" type="text" name="titulo" class="validate" required autofocus>
                        <label for="titulo" max-length="100">Título</label>
                    </div>

                    <div class="file-field input-field col l6 xl6">
                        <div class="btn black">
                            <i class="material-icons right">file_upload</i>
                            <span>Enviar capa</span>
                            <input type="file" name="image" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <textarea id="textarea1" data-length="2000" name="descricao" class="materialize-textarea" required></textarea>
                            <label for="textarea1">Descrição do evento</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <input id="date_evento" type="date" name="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col l12 xl12">
                            <input id="hour" type="time" name="hour">
                        </div>
                    </div>

                    <div class="input-field col l12 xl12 no-padding">
                        <input id="final" type="text" name="local" class="validate">
                        <label for="final" max-length="100">Local</label>
                    </div>

                    <div class="input-field col l12 xl12 no-padding">
                        <input type="number" id="valor" step="0.1" name="value">
                        <label for="valor">Valor</label>
                    </div>

                    <button class="btn waves-effect waves-light green darken-4 right" onclick="Materialize.toast('Salvo!', 4000)" type="submit" name="action">Salvar
                        <i class="material-icons right">send</i>

                    </button>
                    <a class="waves-effect waves-light btn right red darken-4" style="margin-right: 1%;" href="{% url 'eventos' %}"><i class="material-icons left">cancel</i>Cancelar</a>

                {% endif %}

            </form>


        </div>



</body>
</html>